@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --body-color: #9e15bf;
  --primary-color: #31c7d4;
  --white-color: #fff;
  --light-blue: #d0f8fd;
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--body-color);
  padding: 10px;
}

.todo-container {
  width: 100%;
  width: 550px;
  margin: 50px auto 20px;
  padding: 40px 30px 70px;
  background-color: var(--white-color);
  border-radius: 10px;
}
.todo-container h2 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: var(--body-color);
}
.todo-container h2 img {
  width: 30px;
  margin-left: 10px;
}
.search-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-blue);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
}
input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
.search-btn {
  background: none;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}
ul li {
  /* list-style: decimal; */
  margin-left: 15px;
  font-size: 18px;
  padding: 12px 8px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ul li::before {
  content: "";
  position: absolute;
  background-color: #9e15bf;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: -1;
} */
ul li a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--body-color);
  font-size: 14px;
}
.clear-btn {
  background: none;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}
